fasttext == 0.9.1
gensim == 3.8.1
joblib == 0.14.1
make-corpus == 0.0.2
matplotlib == 3.0.3
nltk == 3.6.6
numpy == 1.16.2
pandas == 1.0.3
scikit_learn == 0.22.2.post1
scipy == 1.4.1
seaborn == 0.10.0
sklearn_crfsuite == 0.3.6
stanfordcorenlp == 3.9.1.1
stanfordnlp == 0.2.0
tabulate == 0.8.6
textblob == 0.15.3
xgboost == 1.0.2
yang0textutils == 0.0.1
